PyMuPDF==1.22.3
langchain==0.0.186
sentence-transformers==2.2.2
tiktoken==0.4.0
elasticsearch==7.17
tqdm==4.65.0
openai==0.27.7
streamlit==1.23.1
streamlit-chat==0.0.2.2
streamlit-option-menu==0.3.6
blinker>=1.6.2
click>=8.1.3
Flask==2.3.2